{% extends 'baseapp/main.html' %}

    {% block contennt %}
    <div class="container">
        <h1>Stock Managemennt</h1>
        <hr>
        <div">
           <p>List of all my products</p>
           <form action="" method="post">
            {% csrf_token %}
            <input type="search" name="search" class="form-control" placeholder="search item here" >
        </form>
         <br>
         
         {% for pl in productList %}
           <div class="card" style="padding: 10px;">
              {{pl.product}} - {{pl.category}} -{{p.quantity}}
           </div>
         {% endfor %}
           
        <div style="width: 100%; position: relative;">
          
            <a href="{% url 'addnewstock' %}"><button class="btn btn-success" style="position: absolute;right: 0;">Add new Product</button> </a>
        </div>
        <br>
        <br>
           <table class="table">
            <thead class="table-dark">
              <tr>
                <th>Product</th>
                <th>Qantity In Stock</th>
                <th>Price Each (Ksh.)</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% if products %}
              
              {% for p in products %}
              <tr>
                <td>{{p.product}}</td>
                <td>{{p.quantity}}</td>
                <td>Ksh. {{p.price}}</td>
                
                <td><a href="{% url 'editstock' p.id %}"><button class="btn btn-secondary">Manage</button></a></td>
              </tr>
              {% endfor %}
                
              {% else %}
              <p>No products yet!!</p>
              {% endif %}
            
            </tbody>
          </table> <br>
        </div>
    </div>
    {% endblock %}